<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ØØØØØØL</title>
</head>
<style>
    body{
        background-image: url('https://mewallpaper.com/thumbnail/food/5286-cold-mug-of-beer-and-dark-background-download-free-image.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    center{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 25%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<body>

<center>
    <h1 style="color: greenyellow">Ja, det skal vi hver dag!!!</h1>
    <a href="/side2"><button style="background-color: skyblue">Tryk her</button></a>
</center>

</body>
</html>